.max-w-xs.mx-auto
  = render_component(Common::HeadingComponent, tag: :h2) do
    = t('.heading')

  = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
    = f.labeled_email_field :email, autofocus: true, autocomplete: 'email'
    = f.submit t('.submit')

  = render 'users/shared/links'
