<tr>
  <td align="left" style="font-size:0px;padding:10px 25px;padding-bottom:<%= padding_bottom %>;word-break:break-word;">
    <div style="font-family:Nunito;font-size:<%= font_size %>;font-weight:<%=font_weight %>;font-style:<%= font_style %>;line-height:1;text-align:<%= text_align %>;color:<%= color %>;">
      <%= content %>
    </div>
  </td>
</tr>
