= render_component(Common::HeadingComponent, tag: :h2) do
  = t('.heading')

= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
  = f.hidden_field :reset_password_token
  = f.labeled_password_field :password, autofocus: true, autocomplete: 'new-password'
  = f.labeled_password_field :password_confirmation, autocomplete: 'new-password'
  = f.submit t('.submit')

= render 'users/shared/links'
