= render_component(Mailer::TextComponent) do
  Hello #{@resource.email}!
= render_component(Mailer::TextComponent) do
  Someone has requested a link to change your password. You can do this through the link below.
= render_component(Mailer::ButtonComponent, href: edit_password_url(@resource, reset_password_token: @token)) do
  Change my password
= render_component(Mailer::TextComponent) do
  If you didn't request this, please ignore this email.
= render_component(Mailer::TextComponent) do
  Your password won't change until you access the link above and create a new one.
